@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #fff;
    
}
.intro{
    height: 100vh;
    background: linear-gradient(0deg, #5d5c54 30%, transparent 10%), url(https://i.ibb.co/Ks600QC/parede.png);
    background-size: cover;

}
h1{
    font-family: 'Akaya Telivigala', cursive;
    color: #daa520;
    text-align: center;
    font-size: 3em;
    text-shadow: 5px 5px 4px black;

}
p{
    font-family: 'Akaya Telivigala', cursive;
    color: #daa520;
    font-size: 3rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

table{
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
   
}

table td{
    border: 1px solid black;
    padding: 5px;
    
 
}

table#quadro{
    background-color: blanchedalmond;
}