@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

body{
    background-color: #b8e994;
}

img{
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin-top: 100px;
}

.tit {
    color: #daa520;
}
h1{
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    color: #daa520;
    font-size: 4rem;
    text-shadow: 3px 3px 3px rgb(133, 124, 124);
}