@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

body{
    background-color: #b8e994;
}
p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
  }

.tit {
    color: #daa520;
}
h1{
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    color: #daa520;
    font-size: 4rem;
    text-shadow: 3px 3px 3px rgb(133, 124, 124);
}